@charset "utf-8";

:root {
	--color-1: #709CAC;
	--width-1: 70%;
}
.article {
	width: 100%;
	max-width: 100vw;
}
.article-header {
	width: 100%;
	height: 70vh;
	position: relative;
	background-color: #000;
}
.article-header figure.article-header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  opacity: .6;
  z-index: 1;
}
.article-header figure.article-header-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(5px);
  transform: scale(1.1);
}
.article-header-container {
	width: 100%;
	height: 100%;
	max-width: 1100px;
	z-index: 2;
	position: relative;
	margin: 0 auto;
	padding-top: 80px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.article-header-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #fff;
}
.article-header-text h4 {
	border: 0.5px solid #fff;
	font-size: 1rem;
	font-weight: 800;
	width: fit-content;
	padding: 0.1rem 1rem;
	border-radius: 1rem;
}
.article-header-text h1 {
	font-size: clamp(3rem, 3.5vw, 3.5rem);
	font-family: Presentation;
	font-weight: 800;
	line-height: 1.15;
	letter-spacing: -0.02rem;
	margin-top: clamp(0.5rem, 0.8vw, 0.8rem);
}
.article-header-text h2 {
	font-size: clamp(1.5rem, 2vw, 2rem);
	font-family: Presentation;
	font-weight: 800;
	margin-top: 1rem;
}
.article-header-text p {
	margin: 3rem 0;
	font-weight: 800;
}
.article-header-image {
	position: relative;
}
.article-header-image div {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(0.5rem);
}
.article-header-image figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 1rem;
	transform: rotate(4deg);
	z-index: 3;
	position: relative;
}
.article-header-image div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-1);
  border-radius: 1rem;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(0) translateY(0.5rem) rotate(6.5deg);
}
.article-body {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 10rem;
}
.prologue {
	margin: 7rem auto;
	width: 50%;
	color: var(--color-1);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.6;
	text-align: right;
}
.article-image {
	width: var(--width-1);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 8rem;
}
.article-image figure {
	width: 100%;
	overflow: hidden;
	border-radius: 1rem;
}
.article-image span.image-tag {
	display: block;
	width: fit-content;
	padding: 0.5rem 2rem;
	background-color: #fff;
	border-radius: 1.7rem;
	border: 1px solid #000;
	font-size: 1.5rem;
	font-family: Paperozi;
	font-weight: 700;
	position: absolute;
	z-index: 2;
}
.article-image span.black {
	background-color: #000;
	color: #fff;
	z-index: 3;
}
.tag-1 {
	left: -4rem;
	top: 25%;
}
.tag-2 {
	right: -3rem;
	bottom: 1.2rem;
}
.tag-3 {
	bottom: -1.7rem;
	right: -2rem;
}
.article-q, .article-a {
	width: var(--width-1);
	margin: 0 auto 2.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.7;
}
.article-q {
	color: var(--color-1);
	text-decoration: underline;
	text-decoration-thickness: 0.01rem;
	text-underline-offset: 0.5rem;
}
.article-box {
	width: var(--width-1);
	margin: 0 auto;
}
.article-box figure {
	width: 25%;
	margin: 15rem auto 3rem;
}
.article-box-text {
	border-left: 0.01rem solid #000;
	border-right: 0.01rem solid #000;
	padding: 0 clamp(2rem, 6vw, 6rem);
	margin-top: 5rem;
}
.article-box-text h4 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: Presentation;
}
.article-box-text h3 {
	font-family: KccEunyeong;
	font-size: 4.2rem;
	line-height: 1.1;
	text-align: center;
	color: var(--color-1);
	font-weight: normal;
}
.article-box-text p {
	font-family: Presentation;
	font-weight: 200;
	font-size: 1.35rem;
	margin-top: 3rem;
	line-height: 1.7;
}
@media (max-width: 768px) {
	
}