@charset "utf-8";
:root {
  --box-1-gap: .5vw;
}
.main-visual {
  width: 100%;
  max-width: 100vw;
  height: 50vh;
  position: relative;
  margin-bottom: 10rem;
}
.main-visual-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}
.main-top-p {
  position: absolute;
  width: 8vw;
  bottom: 0;
  left: 50%;
  z-index: 2;
}
.top-1 {
  left: 70%;
  width: 7vw;
}
.top-2 {
  left: 66%;
  width: 5.5vw;
  bottom: -1vw;
}
.top-3 {
  left: 40%;
  width: 8.5vw;
  bottom: -2vw;
}
.top-4 {
  left: 16%;
  width: 7vw;
  bottom: -1.2vw;
}
.top-5 {
  left: 12%;
  width: 5.6vw;
}
.main-visual-text-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main-visual-text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(1.5%, 0);
  color: #fff;
  z-index: 2;
}
.main-visual-text h1 {
  font-family: Presentation;
  font-size: clamp(6rem, 11.8vw, 20rem);
  font-weight: 900;
  line-height: 1;
  word-spacing: 4.8vw;
}
.main-visual-text p {
  margin-top: 0;
  margin-bottom: clamp(0.8rem, 1vw, 1.2rem);
  margin-right: 11%;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  font-weight: 800;
  text-align: right;
}

section {
  margin: 5rem auto;
  max-width: 1400px;
}
section h2 {
  font-family: Paperozi;
  font-size: 1.5rem;
  color: var(--section-title);
  margin-bottom: 2rem;
  font-weight: 700;
}
.box-1 .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--box-1-gap);
  width: 100%;
  aspect-ratio: 2.3 / 1;
}
.box-1 .box-container.down {
  aspect-ratio: 3.3 / 1;
  margin-top: var(--box-1-gap);;
}
.box-1-dual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--box-1-gap);;
}
.box-1 .box-container .box-in {
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  z-index: 1;
}
.box-1 .box-container .box-in::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  transition: opacity 0.25s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.box-1 .box-container .box-in:hover::before {
  opacity: 0;
}
.box-1 .box-container .box-in::after {
  content: "";
  width: 2rem;
  aspect-ratio: 30 / 24; /* SVG와 동일한 비율 */
  -webkit-mask-image: url('../images/icon-arrow-right.svg');
  mask-image: url('../images/icon-arrow-right.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #fff; /* 여기서 자유롭게 색 조절 가능 */
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  pointer-events: none;
}
.box-1 figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 비율 유지 + 영역 꽉 채움 */
  object-position: center;  /* 중앙 기준 배치 */
}
.box-1 h3 {
  position: absolute;
  left: 1vw;
  top: 50%;
  width: 90%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 4;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  font-family: Presentation;
  line-height: 1.3;
  word-break: keep-all;
}
.box-1 span {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #fff;
  z-index: 4;
  font-family: Presentation;
  font-size: .8rem;
  font-weight: 700;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

@media (max-width: 768px) {
  :root {
    --grid-gap: 2rem;
  }

}