@charset "utf-8";
:root {
  --max-width: 1400px;
  --box-1-gap: .5vw;
  --slide-gap: 1.2rem;
}
.main-visual {
  width: 100%;
  max-width: 100vw;
  height: 50vh;
  position: relative;
  margin-bottom: 10rem;
}
.main-visual-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}
.main-top-p {
  position: absolute;
  width: 8vw;
  bottom: 0;
  left: 50%;
  z-index: 2;
}
.top-1 {
  left: 70%;
  width: 7vw;
}
.top-2 {
  left: 66%;
  width: 5.5vw;
  bottom: -1vw;
}
.top-3 {
  left: 40%;
  width: 8.5vw;
  bottom: -2vw;
}
.top-4 {
  left: 16%;
  width: 7vw;
  bottom: -1.2vw;
}
.top-5 {
  left: 12%;
  width: 5.6vw;
}
.main-visual-text-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main-visual-text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(1.5%, 0);
  color: #fff;
  z-index: 2;
}
.main-visual-text h1 {
  font-family: Presentation;
  font-size: clamp(6rem, 11.8vw, 20rem);
  font-weight: 900;
  line-height: 1;
  word-spacing: 4.8vw;
}
.main-visual-text p {
  margin-top: 0;
  margin-bottom: clamp(0.8rem, 1vw, 1.2rem);
  margin-right: 11%;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  font-weight: 800;
  text-align: right;
}

.box-1 .box-container {
  margin: 0 auto;
  max-width: var(--max-width);
}
.box-1 .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--box-1-gap);
  width: 100%;
  aspect-ratio: 2.3 / 1;
}
.box-1 .box-container.down {
  aspect-ratio: 3.3 / 1;
  margin-top: var(--box-1-gap);;
}
.box-1-dual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--box-1-gap);;
}
.box-1 .box-container .box-in {
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  z-index: 1;
}
.box-1 .box-container .box-in::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  transition: opacity 0.25s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.box-1 .box-container .box-in:hover::before {
  opacity: 0;
}
.box-1 .box-container .box-in::after {
  content: "";
  width: 2rem;
  aspect-ratio: 30 / 24; /* SVG와 동일한 비율 */
  -webkit-mask-image: url('../images/icon-arrow-right.svg');
  mask-image: url('../images/icon-arrow-right.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #fff; /* 여기서 자유롭게 색 조절 가능 */
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  pointer-events: none;
}
.box-1 figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 비율 유지 + 영역 꽉 채움 */
  object-position: center;  /* 중앙 기준 배치 */
}
.box-1 h3 {
  position: absolute;
  left: 1vw;
  top: 50%;
  width: 90%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 4;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  font-family: Presentation;
  line-height: 1.3;
  word-break: keep-all;
}
.box-1 span {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #fff;
  z-index: 4;
  font-family: Presentation;
  font-size: .8rem;
  font-weight: 700;
}
section.box-2 {
  border-top: 0.01rem solid #000;
  margin-top: 5rem;
}
.slider-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* 제목 + 버튼 영역 */
.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.slider-header h2 {
  font-size: 4rem;
  font-family: Presentation;
  font-weight: 700;
  letter-spacing: -.1rem;
  line-height: 1.3;
}
.slider-buttons {
  display: flex;
  gap: 0.5rem;
}

.slider-buttons button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

/* 슬라이더 영역 */
.slider-container {
  --slide-gap: 1rem; /* 카드 사이 여백 */

  display: flex;
  gap: var(--slide-gap);
  overflow: hidden;        /* 스크롤바는 숨기고 JS로만 움직임 */
  touch-action: pan-y;
  transition: transform 0.3s ease;
  will-change: transform;
}

/* 카드 3개 정확히 보이도록: (전체 - 여백 2개) / 3 */
.slider-container .slide {
  flex: 0 0 calc(
    (100% - (var(--slide-gap) * 2)) / 3.2
  );
  background: #f3f3f3; /*나중에 지워야*/
  padding: 1rem;
  box-sizing: border-box;
  min-height: 150px; /* 데모용 높이 */
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

/* 태블릿 = 2.2개 보이기 */
@media (max-width: 1024px) {
  .slider-container .slide {
    flex: 0 0 calc(
      (100% - (var(--slide-gap) * 1)) / 2.2
    );
  }
}

/* 모바일 = 1.4개 보이기 */
@media (max-width: 600px) {
  .slider-container .slide {
    flex: 0 0 calc(
      (100% - (var(--slide-gap) * 0)) / 1.2
    );
  }
}