@charset "utf-8";
:root {
  --section-title-1: #6D6D70;
  --section-title-2: #00a0e9;
  --grid-gap: 2.2vw;
  --box-bg-2-1: 242, 217, 238;
  --box-bg-2-2: 206, 222, 159;
  --box-bg-2-3: 174, 218, 252;
  --box-bg-2-4: 225, 224, 223;
  --box-bg-2-5: 249, 222, 121;
  --box-bg-2-6: 252, 235, 213;
  --box-text-2-1: #614225;
  --box-text-2-2: #3b2968;
  --box-text-2-3: #8652a0;
  --box-text-2-4: #ef8735;
  --box-text-2-5: #2b65f5;
  --box-text-2-6: #3f8e8d;
  --box-text2-2-1: #614225;
  --box-text2-2-2: #3b2968;
  --box-text2-2-3: #8652a0;
  --box-text2-2-4: #ef8735;
  --box-text2-2-5: #2b65f5;
  --box-text2-2-6: #3f8e8d;
  --box-fs-2-1: 3vw;
  --box-fs-2-2: 2.5vw;
  --box-fs-2-3: 2.2vw;
  --box-fs-2-4: 3vw;
  --box-fs-2-5: 2.5vw;
  --box-fs-2-6: 2.5vw;
  --box3-bg-1: #000;
  --box3-bg-2: #000;
  --box3-bg-3: #000;
  --box3-bg-4: #000;
  --box3-bg-5: #000;
}
.main-visual {
  width: 100vw;
  height: 50vh;
  position: relative;
  margin-bottom: 10rem;
}
.main-visual-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}
.main-visual-bg figure {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.main-visual-bg figure img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 화면 꽉 채움 */
  object-position: center; /* 중앙 기준 */
}
.main-top-p {
  position: absolute;
  width: 8vw;
  bottom: 0;
  left: 50%;
  z-index: 2;
}
.top-1 {
  left: 70%;
  width: 7vw;
}
.top-2 {
  left: 66%;
  width: 5.5vw;
  bottom: -1vw;
}
.top-3 {
  left: 40%;
  width: 8.5vw;
  bottom: -2vw;
}
.top-4 {
  left: 16%;
  width: 7vw;
  bottom: -1.2vw;
}
.top-5 {
  left: 12%;
  width: 5.6vw;
}
.main-visual-text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(1.5%, 0);
  color: #fff;
  z-index: 2;
}
.main-visual-text h1 {
  font-family: Presentation;
  font-size: clamp(6rem, 11.8vw, 20rem);
  font-weight: 900;
  line-height: 1;
  word-spacing: 4.8vw;
}
.main-visual-text h2 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-family: Paperozi;
  font-weight: 300;
  margin-top: 1vw;
}
.main-visual-text h3 {
  font-size: clamp(3.5rem, 6vw, 6rem);
  font-family: Paperozi;
  font-weight: 100;
  line-height: 1;
  margin-top: clamp(9rem, 10vw, 10rem);
}
.main-visual-text p {
  margin-top: 0;
  margin-bottom: clamp(0.8rem, 1vw, 1.2rem);
  margin-right: 11%;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  font-weight: 800;
  text-align: right;
}

section {
  margin: 5rem auto;
  max-width: 1400px;
}
section h2 {
  font-family: Paperozi;
  font-size: 1.5rem;
  color: var(--section-title-1);
  margin-bottom: 2rem;
  font-weight: 700;
}
.box-1 .box-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.8vw;
  width: 100%;
  aspect-ratio: 2.3 / 1;
}
.box-1 .box-container .box-in {
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  z-index: 1;
}
.box-arrow {
  color: #fff;
}


.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}

@media (max-width: 768px) {
  :root {
    --grid-gap: 2rem;
  }

}